bridge1 {
  pkg1 "bridge_input" all=#true
  pkg2 "bridge_input" file="some/path" count=10
  pkg3 "bridge_input" some=stuff
  pkg4 "bridge_input" some=stuff
  pkg5 "bridge_input" some=stuff
}

bridge2 {
  pkg6 "bridge_input" some=stuff
  pkg7 "bridge_input" check=#true
  pkg8 "bridge_input" file="some/path" count=10
  pkg9 "bridge_input" some=stuff
  pkg10 "bridge_input" some=stuff
}
